.message{
    color: var(--gray-30);
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    display: flex;
}


.message .content{
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
    max-width: 40%;
}

.message .content .more{
    position: static;
    display: flex;
    gap: 4px;

    justify-content: end;
    align-items: center;
}

.message .content .more .statusIcon{
    font-size: 8px;
}

.initiator-self {
    justify-content: flex-end;
}

.initiator-companion {
    justify-content: flex-start;
}

.message .content {
    border-radius: 0 16px 16px 16px;
    background: var(--gray-250);
}

/* state: self */
.initiator-self .content {
    border-radius: 16px 0 16px 16px;
    background: var(--light-blue);
}

.type-text .content {
    padding: 16px;
}

.message .more {
    display: flex;
    gap: 4px;
}

.initiator-self .more .time,
.initiator-self .more .statusIcon {
    color: var(--primary);
}

.initiator-companion .more .time,
.initiator-companion .more .statusIcon {
    color: var(--gray-150);
}

.type-picture .more {
    border-radius: 30px;
    background: rgba(82, 82, 82, 0.5);
    padding: 2px 4px;
    position: absolute !important;
    right: 8px;
    bottom: 8px;
}

.type-picture .time,
.type-picture .statusIcon {
    color: var(--white) !important;
}
