.form-group {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}

.button-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.auth-layout{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    width: 100%;
}

