#chat-list{
    flex: 1;
    max-width: 350px;
    background: var(--gray-250);
    padding: 16px;
    display: flex;
    gap: 16px;
    flex-direction: column;
    overflow-y: auto ;
}

#chat-list-search .input{
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    background: var(--gray-240);
    height: 32px;
    border: none;
    padding: 0 16px;
    outline: none;
}

#chat-list-navigation{
    display: flex;
    justify-content: end;
    padding: 4px 0;
}

#chat-list-content{
    display: flex;
    flex-direction: column;
}
