.auth-layout{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    width: 100%;
}



.auth-widget{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 340px;
    min-height: 460px;
}

.auth-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    gap: 48px;
    flex: 1;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}

.button-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.form-input input {
    border: none;
    outline: none;
    width: 100%;
    padding: 8px 0;
    background: transparent;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    position: relative;
    display: block;
}

.form-input label{
    opacity: 0;
    transform: translateY(5px);
    transition: all 0.25s ease;
    position: absolute;
    top: -8px;
}

.form-input:has(input:not(:placeholder-shown)) label {
    opacity: 1;
    transform: translateY(0);
}

.form-input {
    width: 100%;
    position: relative;
    display: block;
}

.form-input:has(input:not(:placeholder-shown)) {
    padding: 16px 0 0 0;
}

.form-input::after {
    position: absolute;
    content: " ";
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--primary);
}

.button{
    cursor: pointer;
    border: none;
    padding: 12px 4px;
    border-radius: 8px;
}

.button-primary{
    background: var(--primary);
    color: var(--white);
}

.button-transparent{
    background: transparent ;
    color: var(--primary);
}

a{
    color: var(--primary);
    text-decoration: none;
}


.error-layout{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 48px;
    height: 100dvh;
    width: 100%;
}

.error-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px
}

.chat-preview{
    display: grid;
    grid-column-gap: 6px;
    grid-template-columns: 47px 1fr;
    grid-template-rows: min-content 1fr;
    grid-template-areas:
        "avatar header"
        "avatar message"
}

.chat-preview-avatar{
    height: 47px;
    width: 47px;
    background: var(--gray-240);
    grid-area: avatar;
    border-radius: 999px;
    margin: 4px 0;
}

.chat-preview-header{
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 0;
}

.chat-preview-header div{
    display: flex;
}

.chat-preview-message{
    grid-area: message;
}