:root {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: var(--gray-150);
  display: flex;
  flex-direction: column;
  place-items: center;
  margin: 0;
  padding: 0;
}


h1, h2, h3, h4, h5, h6, p, span, a {
  margin: 0;
}


hr{
  content: "";
  grid-column: 1 / -1;
  margin: 8px 0;
  padding: 0;
  height: 0;
  border: none;
  border-top: 1px solid var(--gray-240);
}

button {
  box-sizing: border-box;
}

#app{
  width: 100%;
}

a{
  color: var(--primary);
  text-decoration: none;
}

