:root{
    --primary: rgba(51, 105, 243, 1);
    --critical: rgba(255, 47, 47, 1);

    --white: rgba(255, 255, 255, 1);
    --gray-30: rgba(30, 30, 30, 1);
    --gray-150: rgba(153, 153, 153, 1);
    --gray-240: rgba(239, 239, 239, 1);
    --gray-250: rgba(251, 251, 251, 1);
    --light-blue: rgba(228, 237, 253, 1);

    --selected: #E4EDFD;
}