.profile-layout{
    display: flex;
    height: 100vh;
    width: 100%;
}


.profile-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    min-width: 700px;
}

.profile-container{
    padding: 64px 32px 32px;
    box-sizing: border-box;
    width: 700px;
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.profile-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.profile-actions{
    display: flex;
    flex-direction: column;
}

.profile-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
}

.profile-content .key-value-list{
    width: 100%;
}
