<section id="panel">
    <div id="panel-navigation">
        {{> text color="secondary" text="Профиль >"}}
    </div>
    <div id="panel-search-panel">
        {{> input-search placeholder="Поиск" name="search"}}
    </div>
    <div id="panel-content">
        {{#each chats}}
            <hr />
            {{>
                widget-chat-preview
                    nickname=this.nickname
                    time=this.time
                    message=this.message
            }}
        {{/each}}
    </div>
</section>