<div class="chat-preview">
    <div class="chat-preview-avatar"></div>
    <div class="chat-preview-header">
        <div class="chat-preview-nickname">
            {{> text-title text=nickname color="default" }}
        </div>
        <div class="chat-preview-time">
            {{> text-label text=time color="secondary"}}
        </div>
    </div>
    <div class="chat-preview-message">
        {{> text text=message color="secondary"}}
    </div>
</div>
