<div class="auth-widget">
    {{> text-heading text="Вход" color="default"}}
    <form class="auth-form">
        <div class="form-group">
            {{> form-input value="" placeholder="Логин" type="text" name="login"}}
            {{> form-input value="" placeholder="Пароль" type="password" name="password"}}
        </div>
        <div class="button-group">
            {{> form-button value="Авторизоваться" variant="primary" type="submit"}}
            {{> form-button value="Нет аккаунта?" variant="transparent"}}
        </div>
    </form>
</div>
