<div class="chat-preview">
    <div class="chat-preview-avatar"></div>
    <div class="chat-preview-header">
        <div class="chat-preview-nickname">
            {{> text-title text="Вадим" color="default" }}
        </div>
        <div class="chat-preview-last_activity">
            {{> text-label text="пт" color="secondary"}}
        </div>
    </div>
    <div class="chat-preview-message">
        {{> text text="Друзья, у меня для вас особенный выпуск новостей!..." color="secondary"}}
    </div>
</div>