.error-layout{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 48px;
    height: 100dvh;
    width: 100%;
}

.error-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px
}
