.chat-preview{
    padding: 8px 16px;
    display: grid;
    grid-column-gap: 12px;
    grid-template-columns: 47px 1fr;
    grid-template-rows: min-content 1fr;
    grid-template-areas:
        "avatar header"
        "avatar message";

    transition: 0.5s;

}

.chat-preview:hover{
    background: var(--selected);
}

.chat-preview-avatar{
    height: 47px;
    width: 47px;
    background: var(--gray-240);
    grid-area: avatar;
    border-radius: 999px;
    margin: 4px 0;
}

.chat-preview-header{
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 0;

    div{
        display: flex;
    }
}

.chat-preview-message{
    grid-area: message;
}
